{% import 'macros/macros.html.twig' as macros %}

{% set image = page.media.images|first %}

<section class="section modular {{ page.header.class }}">
    <section class="container intro">
        {% if image %}
            {{ image.html('', page.header.img_alt, 'intro__img')|raw }}
        {% endif %}

        <div class="intro__content {% if image %} with-img {% endif %}">
            {{ content|raw }}
            
            <div class="intro__links">
                {% if page.header.use_footer_links %} 
                    {% for link in config.theme.footer_links %}
                        {{ macros.icon_link(link.link, link.icon) }}
                    {% endfor %}
                {% endif %}
                {% for link in page.header.links %}
                    {{ macros.icon_link(link.link, link.icon) }}
                {% endfor %}
            </div>
        </div>
    </section>
</section>