{% extends 'partials/base.html.twig' %}

{% block content %}
<section class="blog-post">
    <section class="blog-post__container">
        <section class="blog-post__header {{ header.header_classes }}">
            <h1 class="blog-post__header__title">{{ header.title }}</h1>
            <div class="blog-post__header__date">
                {% set date_format = page.dateformat ? page.dateformat : system.pages.dateformat.short %}
                {% set published = page.publishDate|date(date_format) %}
                {% set date = page.date|date(date_format) %}

                {% if page.header.publish_date and published is not same as(date) %}
                    {{ date }} 
                    | Originally published {{ published }}
                {% else %}
                    {{ date }}
                {% endif %}
            </div>
        </section>
        <hr class="blog-post__divider" >
        <section class="blog-post__content {{ header.content_classes }}">
            {% set content_no_summary = content %}
            {% if '===' in page.rawMarkdown %}
                {% set content_no_summary = content|slice(page.summary|length) %}
            {% endif %}
            {{ content_no_summary|raw }}
        </section>        
        {% if config.plugins.jscomments.enabled %}
            <section class="blog-post__comments">
                    {{ jscomments()|raw }}
            </section>
        {% endif %}
    </section>
    
    <section class="blog-post__container">
        {% if config.plugins.archives.enabled %}
            <div class="blog-post__sidebar">
                <h6>Archive</h6>
                {% include "partials/archives.html.twig" %}
            </div>
        {% endif %}
        {% if config.plugins.taxonomylist.enabled %}
            <div class="blog-post__sidebar">
                <h6>Tags</h6>
                {% include 'partials/taxonomylist.html.twig' with {'base_url':new_base_url, 'taxonomy':'tag'} %}
            </div>
        {% endif %}
    </section>
    
   
        <section class="blog-post__container">
            
        </section>
    
</section>
{% endblock %}
