{% extends 'partials/base.html.twig' %}

{% import 'macros/macros.html.twig' as macros %}

{% set show_onpage_menu = header.onpage_menu == true or header.onpage_menu is null or header.single_page_menu %}
{% set single_page_menu = show_onpage_menu and header.single_page_menu %}

{% block javascripts %}
    {% if show_onpage_menu %}
        {% do assets.add('theme://js/singlepagenav.min.js') %}
    {% endif %}
    {{ parent() }}
{% endblock %}

{% block bottom %}
    {{ parent() }}
    {% if show_onpage_menu %}
        <script>
        // singlePageNav initialization & configuration
        $('ul.navigation').singlePageNav({
            offset: $('#header').outerHeight(),
            filter: '.internal',
            updateHash: false,
            currentClass: 'active'
        });
        </script>
    {% endif %}
{% endblock %}

{% block header_navigation %}
    {% if single_page_menu %}
        <ul class="navigation">
            {{ macros.nav_loop(page.collection.modular, true, false) }}
        </ul>
    {% else %}
    {{ parent() }}
    {% endif %}
{% endblock %}

{% block header_navigation_mobile %}
    {% if single_page_menu %}
        <ul class="navigation">
            {{ macros.nav_loop(page.collection.modular, true, false) }}
        </ul>
    {% else %}
    {{ parent() }}
    {% endif %}
{% endblock %}

{% block content %}
    {% for module in page.collection() %}
        <div id="{{ macros.pageLinkName(module.menu) }}"></div>
        {{ module.content|raw }}
    {% endfor %}
{% endblock %}